body {
    background: #1a1a1a;
}

.sidebar-nav {
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid white;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li span, .list-group-item-dark span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.sidebar-nav .new-category {
    margin-top: 10px;
    padding: 0 10px;
}

.sidebar-nav .new-category button {
    margin-top: 5px;
}

#addCategory {
    margin-top: 10px;
}

.list-group-item-dark {
    background: #222;
    color: white;
}

.list-group-item-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item-dark .dropdown-menu {
    right: 0;
    left: auto;
}

.list-group-item-dark .dropdown-menu a {
    display: block;
    color: black;
    text-align: center;
}

.list-group-item-dark .color, .list-group-item-dark .control {
    top: 13px;
    left: 7px;
    z-index: 1;
    height: 50%;
}

.list-group-item-dark .control {
    left: auto;
    right: 7px;
    top: 0;
}

.list-group-item-dark .control button {
    background: white;
    color: black;
}

.list-group-item-dark p {
    margin: 0;
}

.list-group-item-dark .category {
    text-align: right;
    padding-right: 7px;
    width: 150px;
}

.colorpicker-component {
    padding: 0;
}

.input-group-addon {
    padding: 8px 12px;
}

.new-goal {
    margin-top: 80px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu button {
    background: white;
}

.datepicker-dropdown {
    z-index: 10000 !important;
}

.categories .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 22px;
}

.categories .category button {
    background: white;
}

.categories .category .dropdown-menu {
    position: absolute;
}